/* ---- reset ---- */
body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background-color: #edf5e1;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* Navbar  */

.navbar {
    color: #05386B;
    background-color: #EDF5E1;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: 3rem;
}

/* Section: One */

.section__one {
    width: 100%;
    margin: auto;
    background-color: #edf5e1;
}

.container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

.section__one-cont {
    padding-top: 10rem;
}

.section__one-heading {
    color: #05386B;
    font-size: 4rem;
    font-weight: 500;
    padding-top: 1rem;
    margin-bottom: 1rem;

}

.section__one-info {
    color: #05386B;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 2rem;
    width: 80%;
    line-height: 1.6;
    margin-top: 1rem;

}

.consumptionCalculator {
    width: 80%;
    margin: auto;
    background-color: #8EE4AF;
    padding: 2rem 2rem;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: .8rem;
    font-size: 1.25rem;
    font-weight: 500;
}

input {
    width: 100%;
    padding: .7rem .5rem;
    border-radius: 5px;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #05386B;
    color: white;
    border: none;
    margin-top: 1rem;
    border-radius: 8px;
    font-size: 1.25rem;
    letter-spacing: 1px;
    transition: .4s;
    margin-inline: .3rem;
}

button:hover {
    transform: translateY(-5px);
}



#result {
    color: #05386B;
    /* background-color: #8EE4AF; */
    /* padding: 1rem; */
    border-radius: 8px;
    margin-top: 2rem;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: .8px;
    margin-bottom: 2rem;
}






















@media only screen and (max-width: 1200px) {
    .section__one-heading {
        font-size: 3.5rem;
    }

    .consumptionCalculator {
        width: 100%;
        margin: auto;
        background-color: #8EE4AF;
        padding: 2rem 2rem;
        border-radius: 8px;
    }

}


@media only screen and (max-width: 992px) {

    .container {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
    }

    .navbar-brand {
        margin: auto;
    }

    .row {
        padding-top: 2.5rem;
        margin: auto;
        text-align: center;
    }

    .section__one-info {
        width: 90%;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    .footer-content-heading {
        text-align: center;
    }

    .footer-content-info {
        width: 90%;
        margin: auto;
    }
}

@media only screen and (max-width: 510px) {
    .section__one-heading {
        font-size: 3rem;
        padding-top: 4rem;
    }

}

@media only screen and (max-width: 416px) {
    .section__one-heading {
        font-size: 3rem;
    }

    .navbar-brand {
        font-size: 1.15rem;
    }

    label {
        font-size: 1.2rem;
    }

    .buttons-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    button {
        width: 90%;
    }

    .reset-link {
        width: 90%;
    }

    .footer-content-info {
        width: 100%;
        margin: auto;
    }

}